<%- include("header.ejs") %>

<center>
    
    <h1>List. Achieve. Shape Your Dreams.</h1>
    <p style="font-size: 25px; padding: 7% 15%;  font-family:"Arial",sans-serif;">
        <span style="font-size: 50px;">Your <b>TODO list</b> is not just a list</span> <br>It is a <b>ROADMAP</b> to your goals and dreams.<br>
         Every item you check off is a step closer to your aspirations.<br> 
         Embrace the power of productivity and start shaping your future today. <br>
         Remember, every task completed brings you one step closer to the life you envision.<br>    
         Start listing, start achieving, and watch your dreams become reality.&nbsp;
    </p>
    <div class="d-grid gap-2">

        <a href="/todo"><button type="button" class="btn btn-primary">Add work</button>
        </a>    
        <a href="/work"><button type="button" class="btn btn-primary">Pending Work</button>
        </a>
    </div>
</center>
    
<%- include("footer.ejs") %>